* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    /* background-color: lightgray; */
}

.navigation .nav {
    margin: 1.2rem;
    font-size: 1.7rem;
    font-style: italic;
    color: rgb(238, 58, 58);
}

.navigation .navbar {
    display: flex;
    margin: 1.5rem;
    font-size: 1.5rem;
}

.navigation .navbar p {
    margin-left: 1.5rem;
    cursor: pointer;
}

.navigation .navbar p button {
    padding: 0.3rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    font-size: 1.3rem;
    margin-top: -0.5rem;
    cursor: pointer;
    background-color: #20d4e0;
    border-radius: 0.3rem;
    border: 1px solid #20d4e0;
}