* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(20, 20, 20);

    display: none;
}

.navigation .nav {
    margin: 1.2rem;
    font-size: 1.7rem;
    font-style: italic;
    color: #ff7200;
}

.navigation .navbar {
    display: flex;
    margin: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
}

.navigation .navbar div {
    margin-left: 1.5rem;
    cursor: pointer;
}

.navigation .navbar div:hover {
    color: #20d4e0;
}

.navigation .navbar div button {
    padding: 0.3rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    font-size: 1.3rem;
    margin-top: -0.5rem;
    cursor: pointer;
    background-color: #20d4e0;
    border-radius: 0.3rem;
    border: 1px solid #20d4e0;
}

.navigation .navbar div button:hover {
    background-color: #ff7200;
    border: 1px solid #ff7200;
    color: #fff;
}

.welcome-message {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-right: 2rem;
    margin-left: 2.4rem;

    display: none;
}

.welcome-message .welcome {
    font-size: 2.9rem;
}

.welcome-message #userInfo {
    font-size: 2rem;
}

.main {
    display: flex;
    justify-content: space-between;
    margin: 2rem;

    display: none;
}

.main > .event {
    border: 1px solid lightgray;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 25rem;
    width: 50rem;
    display: flex;
    justify-content: space-between;
}

.event #image img {
    width: 33rem;
    height: 25rem;
}

.event #image-content {
    width: 18rem;
    margin: auto;
    font-weight: 400;
}

.event #image-content h4, h5 {
    margin: 0.6rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Poppins";
}

.event #image-content p {
    margin: 0.5rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

.event #image-content h3 {
    margin: 0.6rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins";
}

.event #image-content p button {
    padding: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: #20d4e0;
    border-radius: 0.3rem;
    border: 1px solid #20d4e0;
}

.event #image-content p button:hover {
    background-color: #ff7200;
    border: 1px solid #ff7200;
    color: #fff;
    transition: 0.3s;
}


.main .calendar {
    /* border: 1px solid lightgray;
    border-radius: 0.5rem; */
    height: 25rem;
    width: 24rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer {
    border-top: 1px solid lightgray;
    padding: 2rem;
    background-color: rgb(20, 20, 20);
    color:lightgray;

    display: none;
}

.footer a {
    color: lightgray;
}

.footer a:hover {
    color: #20d4e0;
}

.footer .footer-1 {
    display: flex;
    justify-content: space-between;
}

.footer .footer-1 .fa-brands {
    margin-left: 1rem;
    cursor: pointer;
}

.footer .footer-1 .fa-solid {
    margin-left: 1rem;
    cursor: pointer;
}

.footer3 {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.footer .about {
    cursor: pointer;
    display: flex;
}
.footer .about .home, .service, .contact {
    margin-left: 1rem;
}

.about p:hover {
    color: #20d4e0;
}


.signUp {
    width: 50rem;
    height: 33rem;
    position: fixed;
    margin: 5rem;
    background-color: beige;
    color: #fff;
    top: 0;
    left: 45%;
    transform: translateX(-50%);
    border-radius: 0.7rem;
    display: none;
}

.login {
    border: 1px solid lightgray;
    width: 20rem;
    height: 24rem;
    margin: 3rem;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.7rem;
    padding: 0.7rem;
}

.login input {
    width: 19.3rem;
    height: 2rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    outline: none;
    border-radius: 0.2rem;
    border: none;
}

.login .sub-button {
    width: 10rem;
    margin-top: 1.4rem;
    margin-left: 4.4rem;
    padding: 0.4rem;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    background-color: #20d4e0;
}

.login .sub-button:hover {
    background-color:#ff7200;
    transition: 0.3s;
}

.login p {
    color:rgb(20, 20, 20);
    margin: 0.7rem;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.login p button {
    padding: 0.2rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ff7200;
    border: none;
    border-radius:0.1rem;
}

.login p button:hover {
    background-color:#20d4e0;
}

.log-in {
    width: 50rem;
    height: 33rem;
    position: fixed;
    margin: 5rem;
    background-color: beige;
    color: #fff;
    top: 0;
    left: 45%;
    transform: translateX(-50%);
    border-radius: 0.7rem;
    display: none;
}

.logIn {
    border: 1px solid lightgray;
    width: 20rem;
    height: 19rem;
    margin: 3rem;
    margin-top: 7rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.7rem;
    padding: 0.7rem;
    
}

.logIn input {
    width: 19.3rem;
    height: 2rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    outline: none;
    border-radius: 0.2rem;
    border: none;
}

.logIn .sub-button {
    width: 10rem;
    margin-top: 1.4rem;
    margin-left: 4.4rem;
    padding: 0.4rem;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    background-color: #20d4e0;
}

.logIn .sub-button:hover {
    background-color:#ff7200;
    transition: 0.3s;
}

.logIn p {
    color:rgb(20, 20, 20);
    margin: 0.7rem;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.logIn p button {
    padding: 0.2rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ff7200;
    border: none;
    border-radius:0.1rem;
}

.logIn p button:hover {
    background-color:#20d4e0;
}

.logIn div {
    margin: 1rem;
    margin-left: 3rem;
}

.logIn a {
    margin: 0.5rem;
}